.container {
    display: flex;
   
    
    flex-wrap: wrap;
    align-items: flex-start;
    height:960px;
    width: 960px; 
    gap: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;
   
    
    
}
.sq {
    padding: 0px;
    margin: 0px;
    gap: 0;
    min-height: 2px;
    min-width: 2px;
    
    

    
   
    
}
   